.study-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(188, 216, 235);
  animation: floaat 4s ease-in-out ;
}

.study-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(188, 216, 235);
    animation: floaat 6s ease-in-out ;
  }
  

.study-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(188, 216, 235);
    animation: floaat 8s ease-in-out ;
  }
  
  @keyframes floaat {
    from { opacity: 0; transform: translateX(-50%) translateY(10px); }
        to { opacity: 1; transform: translateX(0%) translateY(0); } 
  }

  .Mathematics {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) padding-box,
    linear-gradient(45deg, #6888aa, #00d4aa) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    margin: 40px auto;
    text-align: center;
    color: white;
    padding: 40px 30px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    width: 100%;
    max-width: 450px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
    animation: floaat 8s ease-in-out ;
  }

  .Physics{
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) padding-box,
    linear-gradient(45deg, #6888aa, #00d4aa) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    margin: 40px auto;
    text-align: center;
    color: white;
    padding: 40px 30px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    width: 100%;
    max-width: 450px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;

    animation: floaat 8s ease-in-out ;
  }

  .ComputerScience {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) padding-box,
    linear-gradient(45deg, #6888aa, #00d4aa) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    margin: 40px auto;
    text-align: center;
    color: white;
    padding: 40px 30px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    width: 100%;
    max-width: 450px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;

    animation: floaat 8s ease-in-out ;
  }

  .studies h1 {
    text-align: center;

    animation: floaat 8s ease-in-out ;
  }